.nom{
    background-color: $cyan-700;
}
.presentation__container, .about__container, .myProjects__container{
    height: 100vh;
    width: 100vw;
}
.presentation{
    background-color: $presentationBackground;
    border-radius: 50px 0;
    height: 400px;
    width: 100%;
    animation: 2s ease-in-out backwards moved;
    & h1{
        text-shadow:  0 0 1px $color-black;
    }
}
.square{
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    background: linear-gradient(150deg,$cyan-100, $cyan-800);
    animation: rotatingSquare 8s ease-in-out infinite alternate;
}
.photo_shape{
    width: 60%;
    height: 60%;
    @include anime-aboutMe;
    background: linear-gradient(150deg,$cyan-100, $cyan-800);
}
.btn{
    background-color: $cyan-800;
    border-color: $color-black;
    color: $color-white;
    &:hover{
        background-color: $cyan-900;
        border-color: $light;
    }
}
.aboutMe{
    padding: 100px 80px;
    width: 600px;
    height: 500px;
    font-size: 20px;
    @include anime-aboutMe;
    background: linear-gradient(150deg,$cyan-100, $cyan-800);
    & p{
        color: $cyan-900;
    }
}
.skills{
    padding-bottom: 10px; 
    & p{
        display: flex;
        align-items: center;
        margin: 5px;
        padding: 0 10px;
        height: 40px;
        border-radius: 20px;
        color: $color-white;
        background: $cyan-700;
        animation: 3s 1s ease-in-out infinite alternate skills;
    & i{
        font-size: 25px;
    }
    }
}
#myProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    & h4{
        color: $color-white;
    }
}
img{
    height:100%;
    width: 100%;
}
.rectangle{
    margin: 30px;
    height: 100%;
    width: 87%;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 2px 4px $cyan-700;
    animation: 4s ease-in-out infinite alternate growingRectangle;
}
.project{
    width: 25%;
    height: 25%;
}
#ohMyFood, #laPanthere, #kanap, #piiquante, #kasa{
    visibility: hidden;
    position: absolute;
    &:target{
        text-align: center;
        visibility: visible;
        justify-content: center;
        padding: 60px;
        align-items: center;
        width: 90vw;
        background: linear-gradient(150deg,$cyan-100, $cyan-800);
        @include anime-projects; 
    }
    & img{
        width: 35%;
        margin: 10px;
        border-radius: 10px;
        border: solid 5px $color-white;
    }
    & h1{
        color: $color-white;
        background: $cyan-900;
        width:300px;
        margin: 0 auto 10px;
        border-radius: 20px;
    }
    & i{
        color: $color-white; 
        font-size: 30px;
        margin: 5px 10px;
    }
    & div a{
        text-decoration: none;
        color: $color-white;
        font-size: 22px;
    }
}
.close {
    
    right: 170px !important;
    & i{
        margin: 0 !important;
        font-size: 60px !important;
        color:$color-black !important;
}
}
.fa-circle-xmark{
    font-size: 60px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    box-sizing: border-box;
}
.projectDescription{
    color: $color-white;
    background-color: $cyan-900;
    width: 85%;
    padding: 15px;
    margin: 10px;
    border-radius: 20px 40px;
    text-align: start;
    font-size: 18px;
}
#contact{
    height: 100vh;
    padding-top: 100px;
    & a{
        text-decoration: none;
    } 
    & i{
    font-size: 60px;
    margin: 15px;
}
}
#contactMeLinks{
    background-color: $presentationBackground;
    margin-top: 100px;
    border-radius: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    & i, a{
        color: $color-white;
    }
}
.mail{
    display:flex;
    align-items: center;
}